* {
    font-family: Arial, Verdana, Helvetica, sans-serif;
}

html {
    overflow-y: scroll;
}

body {
    min-width: 780px;
    margin: 0 auto;
    /*text-align: center;*/
    background-color: #fff;
}

#panelSet {
    background-color: #fff;
    margin: 0 auto -30px;   
    min-height: 100%;
    height: auto !important;
}

.top-aligned td {
	vertical-align: top;
}

.bottom-aligned td {
	vertical-align: bottom;
}

.middle-aligned td {
  vertical-align: middle;
}

.selected-dt-row {
	background-color: gold !important;
}

.team-odd-row {
	background-color: #99FFCC !important;
}

.team-even-row {
	background-color: #99FF99 !important;
}

.orderButton {
	width: 55px;
	text-align: left;
}

*.cke_skin_richfaces *.cke_path {
	display: none !important;
}

.applicationInfo {
	padding: 0 20px 0 20px;
	float: left;
}

/* Supporting functions */
#branding .supportingFunctions {
    float: right;
    margin: 9px 19px 0 0;
}

#branding .supportingFunctions a {
    display: block;
    width: auto;
    float: left;
    text-decoration: none;
    padding-left: 8px;
    margin-left: 8px;
    background-position: left center;
    background-repeat: no-repeat;
}

#branding hr {
    clear: both;
    visibility: hidden;
}

.boldText, .supportingFunctions{
    font-weight:bold;
}
#branding .userInfo:before {
	content: "User: ";
}
#branding .userInfo {
    clear: right;
    float: right;
    margin: 9px 19px 0 0;
    font-weight: normal;
    font-size: 10px;
    right: 0;
    bottom: 5px
}

/* Footer --------------------------------------- */

/* Footer --------------------------------------- */

.footer {
    clear: both;
    padding: 5px 0 6px 0;
    margin: 5px auto 0;
    border-top: 1px dotted #9D9D9D;
    bottom: 0;
    display: block;
    height: 14px;
    position: relative;
    visibility: visible;
    z-index: 1;
}

.footer .version {
    float: right;
    margin-right: 19px;
    font-size: small;
}

.footer .legal {
    margin-left: 19px;
}

.alertBox {
  background:#ffecec url("#{resource['graphics/Icon_Library/Error_14x14.png']}") no-repeat 10px 50%;
  color:#555;
  border:1px solid #f5aca6;
  border-radius: 10 pt;
  padding:10px 36px;
  margin:10px;
}


.infoBox {
  background:#e3f7fc url("#{resource['graphics/Icon_Library/Information_14x14.png']}") no-repeat 10px 50%;
  color:#555;
  border:1px solid #8ed9f6;
  border-radius: 10 pt;
  padding:10px 36px;
  margin:10px;
}



